.profileWrapper {
    position: relative;
    background-color: black;
    display: grid;
    color: white;
    max-width: 100vw;
    max-height: 100vh;
    grid-template-rows: 1fr 2fr;
    gap: 1rem;

}

.profile_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 1rem;
    margin-top: 2rem;
}

.profile_info h1 {
    margin-top: 3rem;
    font-size: 3rem;
}

.profile_picture {
    margin-bottom: 13rem;
    position: absolute;
    width: 125px;
    height: 125px;
    background-image: cover;
    border-radius: 50%;
}

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_ul {
    display: flex;
    width: 50rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    border-bottom: 1px solid #464646;
    margin-bottom: 4rem;
}

.profile_ul p {
    font-weight: 500;
    font-size: 1.1rem;
    color: #515151;
    cursor: pointer;
}

.profile_ul p:hover {
    color: blue;
}

.profile_savedImages img {
    max-width: 300px;
    padding: 0 1.5rem;
}


.profile_savedImages {
    display: grid;
    grid-template-columns: 250px 1fr;


}

.profile_followedUser {
    display: grid;
    place-content: center;
}

.profile_followedUser img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile_followedUser button {
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(88, 87, 87);
    padding: 5px;
}

.profile_followingUser {
    display: grid;
    justify-content: center;
    font-weight: 800;
}


.editButton:hover {
    color: white;
}