.app__main {
    max-width: 100vw;
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}


.app__main-img img {
    padding: 5px 0px 0px 5px;
    width: 18rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}