.board__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 5.25rem;
    gap: 3.5rem;
}

.board_box {
    display: grid;
    grid-template-rows: 1fr 50px;
    height: 300px;
}

.board_title {
    display: grid;
    place-items: center start;
}

.board_addBoard {
    background-color: #2e2e2e;
    width: 100%;
    height: 300px;

    display: grid;
    place-items: center;
    cursor: pointer;

}

.board_addBoard:hover,
.board:hover .board img,
.board:hover {
    opacity: 0.8;
}

.board_addBoard:hover+.board_title,
.board:hover+.board_title {
    color: #707070;
}

.board {
    background-color: #2e2e2e;
    width: 100%;
    height: 300px;
    cursor: pointer;
}

.board img {
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
}

.board img:hover {
    opacity: 0.5;
}

@media screen and (max-width: 1025px) {
    .board__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .board_box {
        height: 250px;
    }
}

@media screen and (max-width: 600px) {
    .board__container {
        grid-template-columns: repeat(2, 1fr);
    }

}