* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.oneImage {
    display: flex;

}

.left__side {
    display: grid;
    grid-template-rows: 4rem 1fr;
    height: 100vh;
    width: 100%;

}

.header {
    width: 100%;
    padding-right: 3rem;
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-items: center;
    background-color: #060606;
    font-size: 13px;
    font-weight: 700;
}

.header-people {
    /* border: 1px solid #a6a6a6; */
    /* border-radius: 50%; */
}

.header-people img {
    width: 30px;
    height: 30px;
    border: 1px solid #363434;
    background-color: white;
    border-radius: 50%;
}

.people-components {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20px);
    place-content: center;
    width: 100%;
    gap: 4px;
    padding: 5px;
}

.people-num-left {
    border: solid 1px #363434;
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: grid;
    place-content: center;
    font-size: 10px;
    z-index: 10;
    background-color: #212121;
}

.header-right {
    place-self: center end;
    display: grid;
    grid-auto-flow: column;
    color: #a6a6a6
}

.header-save {
    padding-right: 2rem;
    border-right: 1px solid #a6a6a6;
}

.header-close {
    padding-left: 2rem;
}

.header-save:hover,
.header-close:hover {
    color: #2e36ff;
    cursor: pointer;
}

.header-people:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.oneImage-main {
    display: grid;
    place-items: center;
    background-color: #060606;
    padding-bottom: 3rem;
}

.oneImage-image {
    width: 392.487px;
    height: 585.6px;
    object-fit: cover;
}