.app__searchPage {
    max-width: 100vw;
    min-height: 100vh;
}

.app__searchPage-input {
    height: 10rem;
    display: flex;
}

.app__searchPage-input input {
    width: 50rem;
    text-align: center;
    font-size: 66px;
    color: white;
}

.app__searchPage-input button {
    width: 5rem;
    height: 2rem;
    border-radius: 5rem;
    background-color: #2c2c2c;
    color: white;
    border: none;
}

.search {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20rem;
}

.app__searchPage-users {
    background-color: #131313;
    height: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__searchPage-wrapper {
    height: 100%;
    width: 90%;
}

.app__searchPage-users h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #9b9b9b;
    font-weight: 500;
    font-size: 22px;
}

.app__searchPage_user-wrapper {
    display: flex;
    gap: 1rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.user-info p {
    color: white;
}

.app__searchPage_user-wrapper img {
    width: 140px;
    height: 140px;
    object-fit: fill;
}

.app__searchPage_user-wrapper button {
    width: 4rem;
    height: 1.6rem;
    border-radius: 5rem;
    background-color: white;
    border: none;
}

.app__searchPage_user-wrapper button:hover {
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}

.username-avatar {
    padding-left: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.username-avatar p {
    padding: 0rem .5rem;
}

.popular-images-title {
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: #131313;
}

.popular-images-title h1 {
    color: rgb(163, 163, 163);
    font-weight: 500;
    font-size: 23px;
    margin-left: 4.5rem;
}