* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #212121;
}

*::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 10rem;
}